.mb-2{
    text-align: center;
    width: 0xp;
    height: 0xp;
}

.mb-3{
    text-align: center;
}

/*alertas formulario*/

.ok {
    border: 1cm;
    text-align: center;
}

.bad {  
    border: 1cm;
    text-align: center;
}
