*{
    box-sizing: border-box;
}

.body{
    font-family: sans-serif;
    color: #333333;
    background-color: #eeeeee;
}

.header {
    background-color: #4C7ADB;
}

.header-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

.header-logo {
    float: left;
    height: 60px;
}

.header-menu{
    float: right;
}

.header-menu-wrapper {
       margin: 0%;
       padding: 0%;
       list-style: none;
       font-size: 0;
}

.header-menu-item {
display: inline-block;
font-size: 18px;
}

.header-menu-link{
    height: 60px;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    line-height: 60px;
    color: white;
    text-decoration: none;
    font-weight: 700px;
}

.header-menu-link:hover {
     background-color: rgba(0, 0, 0, 0.3);
}

.cover {
    background-image: url("../img/portada.png");
    background-position: center;
    background-size: cover;
}

.cover-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: center;
}

.cover-photo-container {
    margin-bottom: 40px;
}
.cover-photo {
    border-radius: 30%;
   
}

.cover-text {
    background-color: rgba(22, 159, 209, 0.7);
    color: #ffffff;
    display: inline-block;
    padding: 30px;
}

.cover-title {
    font-size: 46px;
    margin: 0px;
    text-transform: uppercase;
}

.cover-sub-title {
    font-size:18px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.title-underline {
    color: #606060;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
}

.title-underline span {
    color: #6c2eb9;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
    text-transform: uppercase;
}
.caja { 
    background: rgba(22, 159, 209, 0.7);
    color: rgb(29, 24, 24); 
    font-weight: bold; 
    font-size: 18xp;
    padding: 15px; 
    border: 2px solid #abecf9; 
    border-radius: 6px;
    text-align: center; 
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.btn-blue {
   background: transparent; 
   display: inline-block;
   color: black;
   text-transform: uppercase;
   font-weight: 700;
   text-decoration: none;
   border: 3px solid #46bffd;
   padding: 10px 15px;
   transition: backgraund-color 03.s color 0.3sg;
}

.btn-blue:hover {
   background-color: #46bffd;
   color: #ffffff;
}

.skills-wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

.skills-text {
    text-transform: uppercase;
    color: #606060;
    font-weight: 700;
    margin: 10px 0;
    padding: 10px 0;
    overflow: hidden;
}


.skills-name {
    float: left;
}

.skills-score {
    float: right;
}

.skills-bar {
    width: 100%;
    height: 30px;
    background-color: #9e9e9e;
}

.skills-inside-bar {
    background-color: #765bf6;
    height: 30px;
    display: inline-block;
}

.Works-wrappers {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}    

.Works-item {
     display: inline-block;
     width: 31%;
     margin-left: 1%;
     margin-right: 1%;
    background-color: #ffffff; 
}

.Works-item-img {
    width: 100%;
}

.Works-item-description {
    padding: 10px;
}

.Works-item-description .btn-blue {
    display: block;
}
.Works-item-title {
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.Works-item-client {
    font-size: 18px;
    text-align: center;
}

.Works-item-client a {
    text-decoration: none;
    font-weight: 700;
    color: #46cbfd;
}

.contact-form {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.contact-row {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.contact-column {
    width: 45%;
}

.contact-column.left {
    float: left;
}

.contact-column.right {
    float: right;
}

.contact-column label {
    color: #606060;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
    display: inline block;
    padding: 0 5px;
}

.contact-column .contac-input-text {
      background-color: #ffffff;
      border: 0px;
      border-bottom: 6px solid #46cbfd;
      height: 40px;
      width: 100%;
      font-size: 18px;
      padding-left: 10px;
      padding-right: 10px;
}

.contact-column.--width100 {
    width: 100%;
}

.contact-column textarea {
    background: #ffffff;
    border: 0;
    border-bottom: 6px solid #46cbfd;
    width: 100%;
    height: 150px;
}

.img-logo-portafolio {
    max-width: 150px;
    height: inherit;
    margin: 0 auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

* {
    font-family: 'Lato',sans-serif;
}

div {
    display: block;
}
 
.info {
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

*, ::after, ::before {
    box-sizing: border-box;
}

* {
    font-family: 'Lato',sans-serif;
}

  /* footer */
  .footer {
    background: #2f3640;
    color: #ffffff;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
  }

  .map1 {
    text-align: center;
    color: #FFA07A;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
    text-transform: uppercase;
  }

  .map {
    text-align: center;   
}

.map2 {
    border-radius: 10%;
}